---
- name: restart_nrpe
  tags: nagios,nrpe
  service:
    name: "{{ nrpe_service }}"
    state: restarted

- name: restart_qemu_agent
  tags: qemu,qemu-agent
  service:
    name: "{{ qemu_agent_service }}"
    state: restarted

- name: restart_ufw
  tags: ufw
  service:
    name: ufw
    state: restarted

- name: restart_tailscale
  tags: tailscale
  service:
    name: tailscaled
    state: restarted

- name: reload caddy
  docker_container:
    name: caddy
    image: jaziel826/caddy-supper:latest
    state: started
    restart: yes

