- name: update Caddyfile
  tags: webserver
  copy:
    src: caddy/Caddyfile
    dest: /home/jaziel/docker/caddy/Caddyfile
    owner: jaziel
    group: jaziel
    mode: 0644
  when: caddy == true
  notify: reload caddy
