# Load distro-specific variables
- include_vars: "{{ ansible_distribution }}.yml"
  tags: always

- name: Include Tailscale role
  ansible.builtin.include_role:
    name: artis3n.tailscale.machine
  when:
    - ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]
    - tailscale == true
  vars:
    tailscale_authkey: "{{ tailscale_auth_key }}"
    tailscale_args: "{{ tailscale_arg }}"
    verbose: true
- block:
  #- import_tasks: nrpe.yml
  - import_tasks: ufw.yml
  - include_tasks: crowdsec.yml
    when:
      - ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]
      - crowdsec is defined
      - crowdsec == true

  - include_tasks: unattended_upgrades.yml
    when:
      - ansible_distribution in ["Debian", "Pop!_OS", "Ubuntu"]
      - unattended_upgrades is defined
      - unattended_upgrades == true

  - include_tasks: caddy.yml
    when:
      - web_server is defined
      - web_server == true

  rescue:
    - set_fact: task_failed=true
