polkit.addRule(function(action, subject) {
  if (action.id.indexOf("com.redhat.tuned.") == 0 && subject.isInGroup("wheel")) {
    return polkit.Result.YES;
  }
});

