polkit.addRule(function(action, subject) {
  if (action.id == ("org.kde.kded.smart.smartctl") && subject.isInGroup("wheel")) {
    return polkit.Result.YES;
  }
});
